body {
	z-index: 0;
}
html {
	scroll-behavior: smooth;
}
.dw__global_footer {
	z-index: -10;
	background-color: #170056;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100vw;
	min-height: 80vh;
}

.dw__global_footer_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
}
.dw__global_footer_overlay > svg {
	position: absolute;

	width: 100%;
	height: auto;
}

.dw__global_footer h3 {
	margin: 0;
}
.dw__global_footer {
	/* padding: 5vw 0; */
	display: flex;
	justify-content: center;
}
.dw__global_footer_container {
	padding: 160px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	min-height: unset;
	padding-bottom: 40px;
}

.dw__global_footer_inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	border: none;
}
.dw__footer_right {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.dw__footer_navigation_section {
	margin-bottom: 20px;
}
.dw__footer_navigation_section h4 {
	margin: 10px 0;
}

.dw__footer_navigation_section ul {
	margin: 5px 0;
	list-style: none;
	padding: 0;
}
.dw__footer_navigation_section li {
	margin: 15px 0;
}
.dw__footer_navigation_section li:hover > a {
	color: #db007e;
}

/* CALL TO ACTION */
.dw__footer_call_to_action {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
}
.dw__footer_call_to_action button {
	background-color: #01387b;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	font-size: 20px;
	font-family: Herbit;
	transition: all 200ms ease-in-out;
}

.dw__footer_call_to_action button:hover {
	background-color: #119dca;
	transform: scale(1.1);
	cursor: pointer;
}

.dw__footer_call_to_action_divider {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.dw__footer_call_to_action_divider .divider_dot {
	margin: 10px 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #119dca;
}

.dw__newsletter_lightbox {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	max-width: 800px;
	max-height: 80vh;
	overflow-y: scroll;
}

.dw__footer_scroll_overlay {
	display: none;
}
.dw__footer_social_media {
	display: flex;
	gap: 10px;
}
.dw__footer_social_media img {
	width: 25px;
	height: 25px;
	transition: all 200ms ease-in-out;
}
.dw__footer_social_media img:hover {
	transform: scale(1.2);
}

@media screen and (max-width: 900px) {
	body {
		margin-bottom: 0 !important;
	}
	.dw__global_footer {
		position: relative;
		z-index: 10;
	}
	.dw__global_footer_overlay {
		display: none;
	}
	.dw__global_footer_container {
		padding: 60px 5% 160px 5%;
		z-index: 10;
	}
	.dw__global_footer_inner {
		z-index: -2;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 40px;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: none;
		/* max-height: 80vh; */
		margin-bottom: 10vh;
		overflow-y: scroll;
		scrollbar-width: 1px;
		scrollbar-width: none;
	}

	.dw__global_footer_inner::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	.dw__footer_left {
		order: 3;
		align-self: flex-start;
	}
	.dw__footer_mid {
		order: 1;
	}

	.dw__footer_right {
		width: 100%;
		order: 2;
		padding-top: 40px;
		flex-direction: row;
		justify-content: space-between;
		border-top: 1px solid rgba(255, 255, 255, 0.292);
		border-bottom: 1px solid rgba(255, 255, 255, 0.292);
	}
}
