/*Font definition
* Just for the Global Navigation Plugin 
* Font for Theme is configured in theme.json
*/

@font-face {
	font-family: "Herbit";
	font-weight: 300 800;
	font-style: normal;
	font-stretch: normal;
	src: url("./assets/fonts/herbit-semibold.woff2") format("woff2");
}
