html {
    margin: 0 !important;
}
h2 {
    font-size: 3rem;
    line-height: 3.1rem;
}
@media screen and (max-width: 980px) {
    h2 {
        font-size: 2rem;
        line-height: 2.1rem;
    }
}

a {
    color: inherit;
    text-decoration: unset;
}

.dw__page_wrapper {
    display: flex;
    top: 0px;
    min-width: 90%;
    min-height: 100vh;
    position: relative;
    justify-content: center;
}
@media screen and (max-width: 980px) {
    .dw__page_wrapper {
        top: 0px;
    }
}

.dw__page_wrapper_parallax {
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
}

.dw__page_content_container {
    width: 100%;
    /*width: clamp(300px, 95%, 100%);*/
}

/*--HERO--*/
.dw__section_hero_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    padding: 80px 0 0 0;
    justify-content: center;
    height: 65vh;
}
.dw__hero_left_col {
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dw__hero_left_col h2 {
    text-align: right;
    color: #db007e;
}
.dw__hero_right_col {
    width: 100%;
    /*max-width: unset;*/
    height: 65vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .dw__section_hero_wrapper {
        padding: 40px 0;
        gap: 1%;
        height: 55vh;
    }
    .dw__hero_left_col,
    .dw__hero_right_col {
        width: 95%;
        height: auto;
    }
    .dw__hero_left_col {
        padding: 0 5%;
    }
    .dw__hero_right_col {
        height: 60vh;
    }
    .dw__hero_left_col h2 {
        text-align: left;
    }
}
@media screen and (max-width: 720px) {
    .dw__section_hero_wrapper {
        padding: 20px 0;
    }
}

/* Section */
.dw__section_dark_wrapper {
    /* background-color: #2c2c2c; */
}
.dw__section_dark_shape_divider {
    height: 150px;
    background-size: 105% auto;
    background-repeat: no-repeat;
}
.divider_top {
    background-position: center bottom;
    margin-bottom: -2px;
    width: 100%;
}
.divider_bottom {
    background-position: center -2px;
    margin-top: -2px;
}

/* Plattform Grid */
.dw__section_platform_grid_wrapper {
}
.dw__section_dark_wrapper_inner {
    background-color: #170056;
    min-height: 500px;
    padding: 120px 0 80px 0;
    width: 100%;
}
.dw__section_platform_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-evenly;
    padding: 2%;
}

.dw__grid_box {
    width: 100%;
    max-width: 550px;
    height: 280px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 400ms ease-out;
}

.dw__grid_box_background_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    border-radius: 20px;
    transition: all 400ms ease-out;
}

.dw__grid_box_background {
    position: absolute;
    margin: auto;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
}
.dw__grid_box_text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 100ms ease-out;
}
.dw__grid_box_text > h3 {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 3.6rem;
    transform: translateY(0);
    transition: all 200ms ease-out;
}
.dw__grid_box_hidden {
    opacity: 0;
    position: absolute;
    right: 5%;
    width: 50%;
    transform: translateY(40px);
    padding-right: 10px;
    transition: all 300ms ease-out;
    display: flex;
    flex-direction: column;
}
.dw__grid_box_logo {
    max-width: 80%;
    transform: translateY(80px);
    margin-bottom: 10px;
    transition: all 300ms ease-out;
}
.dw__grid_box_hidden > h3 {
    font-size: 3.2rem;
    transform: translateY(80px);
    transition: all 300ms ease-out;
    margin: 0;
}
.dw__grid_box_hidden p {
    margin: 0;
}
.dw__grid_box_hidden a {
    display: inline-block;
    margin-top: 10px;
    font-family: Herbit;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}

.dw__grid_box_hover_content {
    width: 100%;
    height: 100%;
}

.dw__box_icon_container {
    z-index: 20;
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    height: 120%;
    transform: scale(0.7);
    opacity: 0;
    transform-origin: center;
    transition: all 200ms ease-out;
}
.dw__box_icon_container > .dw__box_icon_background {
    position: absolute;
    height: 100%;
    left: -50px;
    transform: scale(0.8);
    transition: all 500ms ease-out;
}
.dw__box_icon_container > .dw__box_icon {
    position: absolute;
    top: 15%;
    height: 70%;
    transition: all 500ms ease-out;
}
/*HOVER*/
.dw__grid_box:hover {
    background-color: white !important;
}
.dw__grid_box:hover .dw__grid_box_background {
    filter: grayscale(1) brightness(1.9);
    opacity: 0;
}

.dw__grid_box:hover .dw__box_icon_container {
    transform: scale(1);
    opacity: 1;
}
.dw__grid_box:hover .dw__box_icon_background {
    transform: scale(1);
    opacity: 1;
}
.dw__grid_box:hover .dw__grid_box_text {
}
.dw__grid_box:hover .dw__grid_box_text > h3 {
    transform: translateY(-80px);
    opacity: 0;
    margin: 0;
}
.dw__grid_box:hover .dw__grid_box_hidden {
    opacity: 1;
    display: block;
    transform: translateY(0px);
}

.dw__grid_box:hover .dw__grid_box_hidden > h3 {
    transform: translateY(0px);
}

.dw__grid_box:hover .dw__grid_box_hidden > .dw__grid_box_logo {
    transform: translateY(0px);
}
@media screen and (max-width: 1200px) {
    .dw__grid_box {
        height: 220px;
    }
    .dw__grid_box_hidden > h3 {
        font-size: 2rem;
    }
    .dw__grid_box_hidden p {
        margin: 0;
        font-size: 0.9em;
    }
}

/* TEASER SECTION */
.dw__section_teaser {
    width: 100%;
    min-height: 500px;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dw__section_teaser_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 0 100px 0;
}

.dw__section_teaser_wrapper h2 {
    margin: 20px 0 20px 0;
    text-align: center;
}
.dw__section_teaser_wrapper p {
    margin: 0px 0 50px 0;
    max-width: 800px;
}
.dw__section_teaser_container {
    display: flex;
    width: 95%;
    gap: 40px;
    justify-content: center;
    max-width: 1440px;
}
.dw__teaser_box {
    position: relative;
    width: 30%;
    border-radius: 25px;
    overflow: hidden;
    transition: all 200ms ease-out;
    -webkit-box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.5);
    -moz-box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.5);
    box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.5);
}

.dw__teaser_box_image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.dw__teaser_box_content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.dw__teaser_box_content h3 {
    margin: 5px 0;
    font-size: 34px;
    line-height: 36px;
    padding-top: 20px;
}

.dw__teaser_box_post {
}
.dw__teaser_box_meet {
}
.dw__teaser_box_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 175px;
    right: 25px;
    z-index: 5;
    transition: all 200ms ease-out;
}
.dw__teaser_box_icon img {
    width: 100%;
}

.dw__teaser_box_date {
    position: absolute;
    z-index: 5;
    top: 180px;
    left: 25px;
    background-color: #edebf4;
    padding: 5px 20px;
    border-radius: 20px;
    border: white solid 1px;
    -webkit-box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.4);
    -moz-box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.4);
    box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.4);
}

.dw__teaser_hover_overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all 200ms ease-out;
    transform: translateY(100%);
}
.dw__teaser_hover_overlay_footer {
    height: 20px;
    width: 90%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px 25px 25px;
    transition: all 200ms ease-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    transform: translateY(100%);
    transition-delay: 100ms;
}
.dw__teaser_hover_overlay_footer img {
    height: 20px;
}
.dw__teaser_hover_overlay img {
    max-height: 40%;
}

.dw__teaser_box:hover {
    transform: scale(1.05);
}
.dw__teaser_box:hover .dw__teaser_hover_overlay {
    border-radius: 0;
    transform: translateX(0);
}
.dw__teaser_box:hover .dw__teaser_hover_overlay_footer {
    border-radius: 0;
    transform: translateX(0);
}

@media screen and (max-width: 1200px) {
    .dw__section_teaser_wrapper p {
        padding: 0 15px 0 15px;
    }
    .dw__section_teaser_container {
        flex-wrap: wrap;
    }
    .dw__teaser_box {
        width: 45%;
    }
}
@media screen and (max-width: 720px) {
    .dw__teaser_box {
        width: 95%;
    }
}

/* NEWSLETTER SECTION */
.dw__section_newsletter {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.dw__section_newsletter_col_left {
    width: 45%;
    padding-right: 20px;
}
.dw__section_newsletter_col_right {
}
.dw__section_newsletter_col_right h2 {
    color: #db007e;
    margin: 0;
}
.dw__section_newsletter_col_right h3 {
    font-size: 0.9em;
}
.dw__section_newsletter_col_right h4 {
    margin: 0 0 5px 0;
    font-size: 1.1em;
}

@media screen and (max-width: 1200px) {
    .dw__section_newsletter {
        flex-direction: column;
        align-items: center;
    }
    .dw__section_newsletter_col_left {
        width: 90%;
        max-width: 600px;
    }
    .dw__section_newsletter_col_right {
        width: 90%;
        max-width: 600px;
    }
}

/* TESTIMONIAL SECTION */
.dw__section_testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dw__section_testimonials_wrapper {
    width: 100%;
    background-color: #170056;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dw__section_testimonials_content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dw__section_testimonials_content h2 {
    margin-bottom: 0;
    text-align: center;
}

.dw__testimonial_box {
    position: relative;
    padding: 50px 50px;
    border-radius: 25px;
    margin: 0 5%;
    background-color: #0c002d;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dw__testimonial_box blockquote {
    font-size: 26px;
    line-height: 42px;
    font-family: Herbit;
    padding: 0;
    margin: 0;
}
.dw__testimonial_box_author_portrait {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dw__testimonial_box h3 {
    margin-bottom: 0;
}
.dw__testimonial_box h5 {
    color: #ababc2;
    margin-top: 0;
}
.dw__testimonial_box_author {
    display: flex;
    align-items: center;
    gap: 20px;
}
.dw__section_testimonials_content {
    margin-bottom: 50px;
}

.splide__pagination {
    bottom: -40px !important;
}

.bubble_cone {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: -50px;
    border-radius: 20px;
    background-color: #0c002d;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.splide__slide {
    padding: 0 0 50px 0;
}
.splide {
    width: 80vw;
}
@media screen and (max-width: 1200px) {
    .splide {
        width: 90vw;
    }
}
@media screen and (max-width: 720px) {
    .splide {
        width: 95vw;
    }
    .dw__testimonial_box blockquote {
        font-size: 20px;
        line-height: 32px;
    }
    .dw__testimonial_box {
        padding: 50px 30px;
    }
}

/* SUPPORTER SECTION */
.dw__section_supporter {
}
.dw__section_white_shape_divider {
    height: 150px;

    background-size: 105% auto;
    background-repeat: no-repeat;
}
.dw__section_white_wrapper_inner {
    background-color: white;
    min-height: 500px;
    padding: 20px 0 80px 0;
    width: 100%;
}

.dw_setion_testimonial_sdonation_button {
    margin-top: 80px;
    border: none;
    background-color: white;
    border-radius: 25px;
    padding: 4px 20px;
    font-family: Herbit;
    font-size: 1.4em;
    transition: all 200ms ease;
    display: flex;
    align-items: center;
    gap: 8px;
}
.dw_setion_testimonial_sdonation_button > img {
    transition: inherit;
}
.dw_setion_testimonial_sdonation_button:hover {
    cursor: pointer;
    transform: scale(1.06);
}
.dw_setion_testimonial_sdonation_button:hover > img {
    transform: scale(1.25);
}

/*LOADER*/
.dw__loading_dots {
    width: 88px;
    height: 42.2px;
    background:
        radial-gradient(circle closest-side, #ababc2 90%, #0000) 0% 50%,
        radial-gradient(circle closest-side, #ababc2 90%, #0000) 50% 50%,
        radial-gradient(circle closest-side, #ababc2 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 21.1px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }

    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }

    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }

    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}

/* MAUTIC FORM */
.mauticform_wrapper {
}
.mauticform-page-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mauticform-page-wrapper div {
    width: 100%;
    margin-bottom: 0;
}
.mauticform-page-wrapper p {
    font-size: 0.9em;
    font-family: Source Sans Pro;
}

.mauticform-page-wrapper h5 {
    font-size: 0.9em;
    font-family: Source Sans Pro;
    font-weight: 300;
    margin-bottom: 10px;
}
div[data-validate="first_name"],
div[data-validate="last_name"],
div[data-validate="land"],
.mauticform-field-8 {
    /* CSS Regeln hier */
    width: 48% !important; /* Beispielregel */
}

.mauticform-page-wrapper label {
    font-size: 0.9em;
    font-weight: 300;
    margin: 10px 0 3px 0;
}
.mauticform-page-wrapper input,
.mauticform-page-wrapper select {
    padding: 20px 10px;
    border-radius: 20px;
}

.mauticform-checkboxgrp-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mauticform-checkboxgrp-row input {
    padding: 10px;
    width: 20px;
    height: 20px;
}
.mauticform-checkboxgrp-row label {
    margin: 0;
}

#mauticform_input_dwnewsletteranmeldung_submit {
    font-size: 1em;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #170056;
    color: #fff;
    margin-top: 10px;
    transition: all 200ms;
    font-family: Herbit;
}
#mauticform_input_dwnewsletteranmeldung_submit:hover {
    background-color: #db007e;
    color: #fff;
    transform: scale(1.1);
}
.mauticform-errormsg {
    font-size: 0.8em;
}
#mauticform_input_dwnewsletteranmeldung_annahme_der_agbs_und_date {
    margin-bottom: 10px;
}
#mauticform_input_dwnewsletteranmeldung_annahme_der_agbs_und_date h5 {
    display: none;
    margin-top: 0;
}
#mauticform_input_dwnewsletteranmeldung_annahme_der_agbs_und_date h5 strong {
    display: none;
}

.visible_accordeon {
    display: block !important;
}

.dw__supporter_grid_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dw__supporter_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
    margin: 1% 5% 0% 5%;
    max-width: 840px;
}
.dw__supporter_logo {
    width: auto;
    min-width: 200px;
    max-width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 15px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.2);
    -moz-box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.2);
    box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.2);
}

.dw__supporter_logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
@media screen and (max-width: 720px) {
    .dw__supporter_grid {
        gap: 10px 10px;
    }
    .dw__supporter_logo {
        min-width: 150px;
        max-width: 240px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* FOOTER */

.dw__section_pink_shape_divider {
    height: 150px;
    background-size: 105% auto;
    background-repeat: no-repeat;
    background-color: white;
}

.dw__footer_wrapper {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    min-height: unset;
    padding-bottom: 40px;
}
.dw__footer_left {
    width: 200px;
    color: white;
}

.dw__footer_right {
    color: white;
    border: #fff 1px solid;
    border-width: 1px 0 1px 0;
    padding: 10px 0;
}
.dw__footer_right p {
    text-align: right;
}
.dw__footer_right a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.dw__footer_left a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .dw__footer_right {
        color: white;
        border: #fff 1px solid;
        border-width: 1px 0 1px 0;
        padding: 10px 0;
    }
}
@media screen and (max-width: 720px) {
    .dw__footer_wrapper {
        padding-bottom: 120px;
        gap: 40px;
    }
    .dw__footer_right,
    .dw__footer_left {
        width: 100%;
    }
    .dw__footer_right p {
        text-align: left;
    }
    .dw__footer_left > img {
        width: 60%;
    }
}

/* DEFAULT PAGE WRAPPER */
.dw_default_page {
    display: flex;
    justify-content: center;
    background-color: white;
}
.dw_default_page_content {
    width: 90%;
    padding: 50px 0;
}
